<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <location path="." inheritInChildApplications="false">
    <system.webServer>
      <handlers>
        <!-- Handle all requests through the ASP.NET Core Module -->
        <add name="aspNetCore" path="*" verb="*" modules="AspNetCoreModuleV2" resourceType="Unspecified" />
      </handlers>

      <!-- ASP.NET Core configuration -->
      <aspNetCore 
          processPath="dotnet" 
          arguments=".\ChinookUWS.dll" 
          stdoutLogEnabled="true" 
          stdoutLogFile=".\logs\stdout" 
          hostingModel="inprocess" />
    </system.webServer>
  </location>
</configuration>
