/* global styles */

* {

    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* ::selection { 
        background: var(--color-primary-light);} */
}
    

html {
    font-size: 62.5%;
 
}

body {
    font-family: 'Courier New', Courier, monospace, sans-serif;
    font-size: 1.6rem;
    background-color: #e7e7e7
}


.page-container {
    min-height: 100vh;
    padding: 6rem;
}


/* insert record page */

#add-track {
    margin: 1rem 0rem;
}

.trackInput {
    margin: 0rem 1rem 1rem 0rem;
    
}